# Сгенерировано автоматически скриптом build_master.py
aiohttp
aiohttp_socks
beautifulsoup4
certifi
curl_cffi
EbookLib
edge-tts
emoji
flask
fs
fuzzywuzzy
google-genai
jieba
loguru
lxml
nltk
num2words
playwright
PyAudio
pydantic>=2.0.0
pydub
pymorphy3
pypdf
PyQt6
PySocks
python-docx
python-Levenshtein
pytz
recognizers-text
recognizers-text-number
requests
setuptools<81
websockets
werkzeug
